@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}

$purple: rgba(68, 55, 121, .9);
$purple-light: rgb(200, 190, 220);
$dark-grey: #555;
$medium-grey: #c5c5c5;
$light-grey: #e4e4e4;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body,
html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    font-size: 110%;
}

.white-text{
    color: white;
}

h1{
    font-weight: normal;
}

h2{
    color: $dark-grey;
    font-weight: normal;
    outline: none;
    position: relative;
    &:after{
        content: ' ';
        height: 1px;
        width: 100%;
        background-color: $purple;
        position: absolute;
        left: 0;
        bottom: -2px;
    }
}

.componentWrapper {
    background: #fff;
    margin: 0 auto;
    header{
        background-color: $purple;
        display: flex;
        display: -webkit-box;
        padding: 2em;
        clip-path: circle(800% at 50% -2405%);
        a{
            color: $purple-light;
            text-decoration: underline;
        }
        .title{
            flex: 1.5;
            @include prefix(box-flex, 1.5, webkit ms);
            h1{
                color: #fff;
            }
            h3{
                color: $purple-light;
                font-weight: normal;
            }
        }
        .contact{
            display: flex;
            display: -webkit-box;
            flex-direction: column;
            @include prefix(box-orient, vertical, webkit ms);
            @include prefix(box-pack, center, webkit ms);
            @include prefix(box-align, end, webkit ms);
            align-items: flex-end;
            color: $purple-light;
            span{
                margin: 0.2em 0;
            }
        }
    }
    .data-block{
        padding: 0 2em;
        .skill-wrapper{
            display: flex;
            display: -webkit-box;
            flex-direction: column;
            @include prefix(box-orient, vertical, webkit ms);
            .skill{
                display: flex;
                display: -webkit-box;
                flex-direction: row;
                align-items: center;
                >div:first-child{
                    margin-right: 1em;
                    width: 2.5cm;
                }
                &:first-child{
                    padding-bottom: .3em;
                }
                &:last-child{
                    padding-top: .3em;
                }
                &:not(:last-child){
                    border-bottom: 1px dashed $light-grey;
                }
                .skill-domain-outer{
                    .skill-domain{
                        display: flex;
                        display: -webkit-box;
                        align-items: center;
                        &:not(:last-child):not(:first-child){
                            margin: .5em 0;
                        }
                        >div:first-child{
                            width: 2.5cm;
                            text-align: right;
                            margin-right: 1.4em;
                            margin-top: .15em;
                            font-weight: 500;
                        }
                        span{
                            font-size: .85em;
                        }
                        .skill-items-wrapper{
                            display: flex;
                            display: -webkit-box;
                            flex-direction: column;
                            @include prefix(box-orient, vertical, webkit ms);
                            padding-left: 1em;
                            border-left: 1px solid $dark-grey;
                            margin: .15em 0;
                            .skill-item{
                                display: flex;
                                display: -webkit-box;
                                align-items: center;
                                @include prefix(box-pack, start, webkit ms);
                                @include prefix(box-align, start, webkit ms);
                                &:not(:last-child){
                                    margin-bottom: 0.3em;
                                }
                                .stars{
                                    font-size: 70%;
                                    color: $purple;
                                    margin-right: 1em;
                                }
                                .skill-title{
                                    margin-right: .8em;
                                }
                                .tag{
                                    background-color: $light-grey;
                                    border-radius: 4px;
                                    padding: 1px 4px;
                                    margin-right: .5em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .timeline{
            border-bottom: 3px dashed $purple-light;
            padding-bottom: 7mm;
            height: 14px;
            width: 100%;
            display: flex;
            display: -webkit-box;
            flex-direction: row;
            align-items: center;
            @include prefix(box-pack, center, webkit ms);
            @include prefix(box-align, center, webkit ms);
            justify-content: center;
            position: relative;
            &:before{
                content: ' ';
                border-radius: 50%;
                width: 7px;
                height: 7px;
                position: absolute;
                left: 0;
                bottom: -5px;
                background-color: $purple;
            }
            &:after{
                content: '➤';
                border-radius: 50%;
                position: absolute;
                right: -2mm;
                bottom: -4.7mm;
                color: $purple;
                font-size: 1.3em;
            }
            >div{
                text-align: center;
                flex: 1;
                @include prefix(box-flex, 1, webkit ms);
                >span{
                    text-align: center;
                    font-size: .7em;
                    color: $dark-grey;
                    border: 1px solid $medium-grey;
                    border-radius: 4px;
                    padding: 2px 4px;
                }
            }
        }
        .experiences-wrapper{
            display: flex;
            display: -webkit-box;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            @include prefix(box-pack, start, webkit ms);
            @include prefix(box-align, start, webkit ms);
            .experience{
                position: relative;
                &:before{
                    content: '';
                    left: 50%;
                    top: -8mm;
                    position: absolute;
                    font-size: 1.7em;
                    background-color: $purple-light;
                    @include prefix(transform, translateX(-.5mm), webkit ms);
                    width: 1mm;
                    height: 8mm;
                }
                &:after{
                    content: '';
                    left: 50%;
                    top: -9.5mm;
                    position: absolute;
                    font-size: 1.7em;
                    background-color: $purple;
                    border-radius: 50%;
                    @include prefix(transform, translateX(-1.5mm), webkit ms);
                    width: 3mm;
                    height: 3mm;
                }
                flex: 1;
                width: 25%;
                min-width: 25%;
                max-width: 25%;
                @include prefix(box-flex, 1, webkit ms);
                margin-top: 1.5em;
                border-radius: 4px;
                display: flex;
                display: -webkit-box;
                flex-direction: column;
                @include prefix(box-orient, vertical, webkit ms);
                align-items: center;
                .title{
                    font-weight: bold;
                }
                span:not(.title){
                    font-size: 80%;
                }
                >div{
                    display: flex;
                    display: -webkit-box;
                    flex-direction: column;
                    @include prefix(box-orient, vertical, webkit ms);
                    @include prefix(box-pack, center, webkit ms);
                    @include prefix(box-align, center, webkit ms);
                    align-items: center;
                    text-align: center;
                }
            }
        }
        .studies {
            width: 100%;
            >div{
                display: inline-block;
                width: 22.2%;
                text-align: center;
                border-radius: 4px;
                border: 1px solid $light-grey;
                position: relative;
                text-align: center;
                vertical-align: middle;
                font-size: .8em;
                .title{
                    font-weight: 500;
                    padding: .5em;
                }
                .institution{
                    margin: .3em 0;
                }
                .year{
                    margin-bottom: .5em;
                }
                &:not(:last-child):after{
                    content: '›';
                    top: 50%;
                    right: -18px;
                    position: absolute;
                    font-size: 1.7em;
                    color: $dark-grey;
                    @include prefix(transform, translateY(-50%), webkit ms);
                }
                &:not(:first-child){
                    margin-left: 1em;
                }
                &:not(:last-child){
                    margin-right: 1em;
                }
            }
        }
        .interests{
            font-size: .8em;
        }
    }
}
