html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Source Serif Pro', serif;
    display: flex;
    flex-direction: column;
    width: 21cm;
    height: 29.7cm;
    span{
        text-align: justify;
    }
    header{
        display: flex;
        border-bottom: 1px solid #555;
        align-items: flex-end;
        justify-content: space-between;
        h1{
            margin: 0;
            font-size: 1.6em;
            margin-bottom: .1cm;
        }
        .contact{
            margin-bottom: .1cm;
        }

    }
    .domain{
        h2{
            font-size: 1.7em;
            margin: .3cm 0;
        }
        .row{
            .col{
                .institution{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    >span{
                        font-weight: bold;
                    }
                }
                .title{
                    font-weight: 85%;
                }
                .courses{
                    margin-top: .2cm;
                    font-size: 85%;
                }
            }
        }
        &.experience{
            .row{
                .col{
                    .header{
                        display: flex;
                        justify-content: space-between;
                        .title{
                            font-weight: bold;
                        }
                    }
                    .activities{
                        font-size: 85%;
                    }
                }
            }
        }
        &.projects{
            .row{
                .col{
                    .title{
                        font-weight: bold;
                    }
                    .content{
                        font-size: 85%;
                    }
                }
            }
        }
        &.expertise{
            .row{
                .col{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end !important;
                    padding: 0 !important;
                    .image img{
                        width: 5em;
                        border-radius: 5px;
                        filter: grayscale(.75);
                    }
                }
            }
        }
    }
}

.row{
    display: flex;
    margin-bottom: .5cm;
    .col{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        &.half{
            flex: .5;
        }
        &.vertical{
            flex-direction: column;
        }
        &:nth-child(odd){
            padding-right: .5cm;
        }
        &:nth-child(even){
            padding-left: .5cm;
        }
    }
}
